body {
    font-family: arial, verdana, sans-serif;
    font-size: 16px;
    color: white;
	line-height: 28px;
	background-color: #272c38;
}

.container {
    margin: auto;
}

.title img {
    width: 100%;
    max-width: 1000px;  
    line-height: 0;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

canvas{
    display:block;
    vertical-align:bottom;
    position: absolute;
    z-index: 3;
  }

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    text-align: center;
    z-index: 4;
}

.button li {
    display: inline-block;
}

.button li a {
    display: inline-block;
    background-color: #cc0033;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 20px;
    transform: translate(0px,0px);
    transition: .5s;
    color: inherit;
    text-decoration: none;
}

.button a:hover {
    transform: translate(-5px,-3px);
    box-shadow: 5px 3px #8b4d9d;
}

nav {
    width: 100%;
    background-color: #cc0033;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav li {
    display: inline-block;
    margin-left: 15px;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

nav img {
    width: 15px;
    vertical-align: sub;
}

