body {
    font-family: arial, verdana, sans-serif;
    font-size: 16px;
    color: white;
	line-height: 28px;
	background-color: #272c38;
}

.container {
    margin: auto;
}

.title img {
    width: 100%;
    max-width: 1000px;  
    line-height: 0;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

canvas{
    display:block;
    vertical-align:bottom;
    position: absolute;
    z-index: 3;
  }

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    z-index: 4;
}

.button li, .button2 li, .reslt .li {
    display: inline-block;
}

.button li a, .button2 li a, .reslt li, .hasil, button {
    display: inline-block;
    background-color: #cc0033;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 20px;
    transform: translate(0px,0px);
    transition: .5s;
    color: inherit;
    text-decoration: none;
}

.button a:hover, .button2 a:hover, button:hover {
    transform: translate(-5px,-3px);
    box-shadow: 5px 3px #8b4d9d;
}

nav {
    width: 100%;
    background-color: #cc0033;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav li {
    display: inline-block;
    margin-left: 15px;
    opacity: .5;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

nav img {
    width: 15px;
    vertical-align: sub;
}

nav li:hover, .aktif {
    opacity: 1;
}

main, .gaman {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    background-color: #1f232d;
}

.gaman {
    float: left;
    margin-left: 2.5%;
    max-width: 720px;
    width: 100%;
}

.gaman img {
    max-width: 720px;
    width: 100%;
}

aside {
    width: 18%;
    margin-left: 2.5%;
    margin-top: 30px;
    background-color: #1f232d;
    float: left;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 225px;
    margin-bottom: 20px;
}

.judul {
    background-color: #cc0033;
    padding: 12px 20px;
    font-weight: bold;
}

.isi {
    padding: 20px;
}

.center {
    text-align: center;
}

.button2 {
    text-align: center;
}

.button2 li a, .reslt li {
    margin-top: 15px;
    border-radius: 15px;
    padding: 20px;
}

.button2 img {
    width: 100%;
    max-width: 100px;
}

.button2 .vs {
    vertical-align: top;
}

.reslt li {
    text-transform: capitalize;
}

form {
    display: inline-block;
}

.form {
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.form input {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 3px;
	padding: 7px;
    outline: none;
}

.form button {
    margin-top: 10px;
    border: none;
}

.naruto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}


.bunshin {
    text-align: center;
    width: 200px;
    display: inline-block;
    
}
.bunshin img {
    width: 200px;
}

.button2 .anime {
    padding: 10px;
    border-radius: 5px;
}