body {
    font-family: arial, verdana, sans-serif;
    font-size: 16px;
    color: white;
	line-height: 28px;
	background-color: #272c38;
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.container {
    margin: auto;
}

.title img {
    width: 1000px;  
    line-height: 0;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

canvas{
    display:block;
    vertical-align:bottom;
    position: absolute;
    z-index: 3;
  }

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    text-align: center;
    z-index: 4;
}
.button li {
    display: inline-block;
    background-color: #cc0033;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

.button li a {
    color: inherit;
    text-decoration: none;
}